<p>
  <h3>Dealer's cards:</h3>
  <ul>
    <img class="CardImg" src="<%= @show_command_type == 'player' ? '/images/cards/cover.jpg' : CardToImageFileSrc(session[:dealer_card][0]) %>" />
    <% session[:dealer_card][1..-1].each do |card| %>
      <img class="CardImg" src="<%= CardToImageFileSrc(card) %>" />
    <% end %>
  </ul>
</p>

<p>
  <h3>Player's cards:</h3>
  <ul>
    <% session[:player_card].each do |card| %>
      <img class="CardImg" src="<%= CardToImageFileSrc(card) %>" />
    <% end %>
  </ul>
</p>

<p>
  <% if @show_command_type == 'player' %>
  <form action="/Game/Player/Hit" method="post" style="float:left">
    <button class="btn btn-success">Hit</button>
  </form>
  <form action="/Game/Player/Stay" method="post">
    <button class="btn btn-warning">Stay</button>
  </form>
  <% end %>
  <% if @show_command_type == 'dealer' %>
  <form action="/Game/Dealer/Turn" method="post">
    <button class="btn btn-primary">Dealer's next step</button>
  </form>
  <% end %>
  <% if @show_command_type == 'result' %>
  <form action="/Game/Result" method="post">
    <button class="btn btn-primary">Result</button>
  </form>
  <% end %>
</p>

<div class="alert alert-info">
  <%= "You have $" + (session[:chips] + session[:bet]).to_s + " in total. You bet $" + session[:bet].to_s + " in this round." %>
</div>